
#fui a {
    background-color: transparent !important;
}

#fui button, #fui input, #fui textarea {
    font-family: inherit !important;
    font-size: 100% !important;
    line-height: 1.15 !important;
    margin: 0 !important;
}

#fui button, #fui input {
    overflow: visible !important;
}

#fui button {
    text-transform: none !important;
}

#fui [type=submit], #fui button {
    -webkit-appearance: button !important;
}

#fui textarea {
    overflow: auto !important;
}

#fui *, #fui :after, #fui :before {
    box-sizing: border-box !important;
}

#fui a {
    color: inherit !important;
    text-decoration: none !important;
}

#fui ul {
    overflow-wrap: break-word !important;
}

#fui p {
    overflow-wrap: break-word !important;
}

#fui .css-bvfazu {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 100% !important;
    max-width: 1242px !important;
    margin: 0 auto !important;
}

@media screen and (min-width: 1220px) {
    #fui .css-bvfazu {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

#fui .css-bvfazu {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 100% !important;
    max-width: 1242px !important;
    margin: 0 auto !important;
}

@media screen and (min-width: 1220px) {
    #fui .css-bvfazu {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

#fui .css-acv14k {
    font-size: 1rem !important;
    font-family: "Inter", Arial, Helvetica, sans-serif !important;
    line-height: 1.375rem !important;
    margin: 0 !important;
}

#fui .css-1sn3v8s {
    position: relative !important;
}

#fui .css-1sn3v8s label {
    display: block !important;
    margin-bottom: 0.6785em !important;
}

#fui .css-bvfazu {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 100% !important;
    max-width: 1242px !important;
    margin: 0 auto !important;
}

@media screen and (min-width: 1220px) {
    #fui .css-bvfazu {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

#fui .css-1ajvndy {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-align-items: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

#fui .css-1ajvndy li {
    width: 40px !important;
    height: 40px !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-align-items: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    -webkit-justify-content: flex-start !important;
    justify-content: flex-start !important;
}

#fui .css-1ajvndy a:hover {
    opacity: 0.6 !important;
}

#fui .css-v2guef {
    background: radial-gradient(39.38% 59.72% at 0% 52.04%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #3e64b1, #3e64b1) !important;
    padding: 5rem 0px !important;
}

@media screen and (min-width: 875px) {
    #fui .css-v2guef {
        padding: 9.375rem 0px 6.875rem !important;
    }
}

#fui .css-focop3 {
    display: flex !important;
    flex-direction: column !important;
    padding-top: 2rem !important;
}

#fui .css-1817vzb {
    font-family: "Clash Display", Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
    margin: 0px 0px 2rem !important;
    text-transform: uppercase !important;
    word-spacing: 0.3rem !important;
    letter-spacing: 0.02rem !important;
    font-size: 2.165rem !important;
    line-height: 2.65rem !important;
    text-align: center !important;
}

@media screen and (min-width: 875px) {
    #fui .css-1817vzb {
        font-size: 3rem !important;
        line-height: 3.45rem !important;
    }
}

@media screen and (min-width: 1200px) {
    #fui .css-1817vzb {
        font-size: 4rem !important;
        line-height: 4.8rem !important;
    }
}

@media screen and (min-width: 875px) {
    #fui .css-1817vzb {
        text-align: left !important;
        max-width: 20rem !important;
    }
}

#fui .css-13b04kt {
    padding: 2rem 0px !important;
}

#fui .css-13b04kt form {
    display: grid !important;
    gap: 32px 20px !important;
}

@media screen and (min-width: 640px) {
    #fui .css-13b04kt {
        padding: 2rem 3rem !important;
    }
}

@media screen and (min-width: 875px) {
    #fui .css-13b04kt {
        padding: 3rem 4.25rem !important;
    }

    #fui .css-13b04kt form {
        grid-template-columns: 1fr 1fr !important;
    }

    #fui .css-13b04kt form div:nth-of-type(7), #fui .css-13b04kt form div:nth-of-type(8) {
        grid-column: span 2 / auto !important;
    }
}

#fui .css-1qv0hsr {
    position: relative !important;
    width: 100% !important;
}

#fui .css-1qv0hsr::before {
    content: " " !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 6px !important;
    left: 0px !important;
    top: 0px !important;
    background: #fff !important;
    mix-blend-mode: soft-light !important;
    opacity: 0.5 !important;
}

#fui .css-1qv0hsr input, #fui .css-1qv0hsr textarea {
    display: block !important;
    position: relative !important;
    font-size: 1rem !important;
    color: #fff !important;
    padding: 0px 1.125rem !important;
    width: 100% !important;
    height: 48px !important;
    min-height: 48px !important;
    border-radius: 8px !important;
    background-color: transparent !important;
    mix-blend-mode: revert !important;
    border: 2px solid transparent !important;
    transition: color 0s ease 0s, background-color 0.25s ease 0s !important;
    outline: none !important;
}

#fui .css-1qv0hsr input:focus, #fui .css-1qv0hsr textarea:focus {
    background-color: #fff !important;
    color: #346 !important;
}

#fui .css-1qv0hsr input::placeholder, #fui .css-1qv0hsr textarea::placeholder {
    color: rgba(255, 255, 255, 0.44) !important;
}

#fui .css-1qv0hsr input:focus::placeholder, #fui .css-1qv0hsr textarea:focus::placeholder {
    color: rgba(51, 68, 102, 0.19) !important;
}

#fui .css-1qv0hsr textarea {
    padding: 1.125rem !important;
    width: 100% !important;
    max-width: 100% !important;
    resize: none !important;
    min-height: 200px !important;
}

@media screen and (min-width: 640px) {
    #fui .css-1qv0hsr input, #fui .css-1qv0hsr textarea {
        height: 60px !important;
    }

    #fui .css-1qv0hsr::before {
        border-radius: 8px !important;
    }
}

#fui .css-b62m3t-container {
    position: relative !important;
    box-sizing: border-box !important;
}

#fui .css-7pg0cj-a11yText {
    z-index: 9999 !important;
    border: 0px !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    width: 1px !important;
    position: absolute !important;
    overflow: hidden !important;
    padding: 0px !important;
    white-space: nowrap !important;
}

#fui .css-1d4zxxd-control {
    -webkit-box-align: center !important;
    align-items: center !important;
    background-color: transparent !important;
    border-radius: 6px !important;
    box-shadow: none !important;
    cursor: default !important;
    display: flex !important;
    flex-wrap: wrap !important;
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
    min-height: 38px !important;
    outline: none !important;
    position: relative !important;
    transition: all 100ms ease 0s !important;
    box-sizing: border-box !important;
    border: none !important;
    padding: 0px 1rem !important;
    height: 60px !important;
}

#fui .css-1d4zxxd-control:hover {
    border-color: #b3b3b3 !important;
}

#fui .css-1d4zxxd-control::before {
    content: "" !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 6px !important;
    left: 0px !important;
    top: 0px !important;
    transition: all 0.25s ease 0s !important;
    background-color: #fff !important;
    mix-blend-mode: soft-light !important;
    opacity: 0.5 !important;
}

#fui .css-k1iao3 {
    -webkit-box-align: center !important;
    align-items: center !important;
    display: grid !important;
    flex: 1 1 0% !important;
    flex-wrap: wrap !important;
    padding: 0px 0.125rem !important;
    position: relative !important;
    overflow: hidden !important;
    box-sizing: border-box !important;
}

#fui .css-q9h7v0-placeholder {
    color: rgba(255, 255, 255, 0.44) !important;
    grid-area: 0.1666666667 !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    box-sizing: border-box !important;
}

#fui .css-1hac4vs-dummyInput {
    background: 0px center !important;
    border: 0px !important;
    caret-color: transparent !important;
    font-size: inherit !important;
    grid-area: 0.1666666667 !important;
    outline: 0px !important;
    padding: 0px !important;
    width: 1px !important;
    color: transparent !important;
    left: -100px !important;
    opacity: 0 !important;
    position: relative !important;
    transform: scale(0.01) !important;
}

#fui .css-u73ccc {
    -webkit-box-align: center !important;
    align-items: center !important;
    align-self: stretch !important;
    display: flex !important;
    flex-shrink: 0 !important;
    box-sizing: border-box !important;
    position: relative !important;
}

#fui .css-u73ccc svg {
    fill: #fff !important;
}

#fui .css-shgobz-indicatorSeparator {
    align-self: stretch !important;
    background-color: transparent !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
    width: 1px !important;
    box-sizing: border-box !important;
}

#fui .css-tlfecz-indicatorContainer {
    color: #ccc !important;
    display: flex !important;
    padding: 8px !important;
    transition: color 150ms ease 0s !important;
    box-sizing: border-box !important;
}

#fui .css-tlfecz-indicatorContainer:hover {
    color: #999 !important;
}

#fui .css-8mmkcg {
    display: inline-block !important;
    fill: currentcolor !important;
    line-height: 1 !important;
    stroke: currentcolor !important;
    stroke-width: 0 !important;
}

#fui .css-otdvtq {
    height: 20px !important;
}

@media screen and (min-width: 875px) {
    #fui .css-otdvtq {
        display: none !important;
    }
}

#fui .css-1ri1rnx {
    position: relative !important;
    display: flex !important;
    flex-wrap: wrap !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    width: 100% !important;
}

#fui .css-1ri1rnx button {
    width: 100% !important;
    margin-top: 1rem !important;
}

#fui .css-1ri1rnx::before {
    display: none !important;
    content: "" !important;
    width: 92.34px !important;
}

@media screen and (min-width: 1000px) {
    #fui .css-1ri1rnx::before {
        display: initial !important;
    }
}

@media screen and (max-width: 1000px) {
    #fui .css-1ri1rnx {
        flex-direction: row-reverse !important;
    }
}

@media screen and (min-width: 760px) {
    #fui .css-1ri1rnx {
        grid-column: span 2 / auto !important;
        -webkit-box-pack: justify !important;
        justify-content: space-between !important;
    }

    #fui .css-1ri1rnx button {
        margin-top: 0px !important;
        width: auto !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media screen and (min-width: 800px) {
    #fui .css-1ri1rnx button {
        margin-left: 0.5rem !important;
    }
}

#fui .css-uiq9dd {
    font-size: 1rem !important;
    font-family: "Inter", Arial, Helvetica, sans-serif !important;
    line-height: 1.375rem !important;
    margin: 0px !important;
    opacity: 0.8 !important;
    position: absolute !important;
    left: 0px !important;
}

@media screen and (max-width: 600px) {
    #fui .css-uiq9dd {
        top: -20px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        display: block !important;
        width: 100% !important;
        text-align: center !important;
    }
}

#fui .css-ou6cn {
    padding: 1.375rem 3rem !important;
    background-color: var(--bg-color) !important;
    color: var(--color) !important;
    border: 1px solid #fff !important;
    border-radius: 5px !important;
    text-transform: uppercase !important;
    font-size: 0.75rem !important;
    cursor: pointer !important;
    transition: all 0.3s ease 0s !important;
    text-decoration: none !important;
    --bg-color: #fff !important;
    --border-color: #fff !important;
    --color: #346 !important;
    font-weight: 700 !important;
}

#fui .css-ou6cn[disabled], #fui .css-ou6cn[disabled]:hover {
    --bg-color: #a4b5d7 !important;
    --border-color: #a4b5d7 !important;
    opacity: 0.35 !important;
    cursor: not-allowed !important;
}

#fui .css-ou6cn:hover, #fui .css-ou6cn:focus {
    --bg-color: #fff 95 !important;
    --border-color: #fff 95 !important;
}

#fui .css-1i13j6q {
    display: grid !important;
    -webkit-box-align: start !important;
    align-items: start !important;
    gap: 3rem !important;
    padding-top: 3rem !important;
    margin-top: 3rem !important;
    border-top: 1px solid rgba(255, 255, 255, 0.314) !important;
}

#fui .css-1i13j6q a {
    color: inherit !important;
    text-decoration: none !important;
}

@media screen and (min-width: 640px) {
    #fui .css-1i13j6q {
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 0px !important;
    }
}

@media screen and (min-width: 875px) {
    #fui .css-1i13j6q {
        padding-top: 4.8rem !important;
        margin-top: 2rem !important;
        margin-bottom: 0px !important;
        border-top: 1px solid rgba(255, 255, 255, 0.314) !important;
    }
}

#fui .css-115kthu {
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    flex-direction: column !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    text-align: center !important;
}

#fui .css-115kthu p, #fui .css-115kthu a {
    margin-top: 0.35rem !important;
}

#fui .css-115kthu svg {
    margin-right: 1rem !important;
}

@media screen and (min-width: 640px) {
    #fui .css-115kthu {
        flex-direction: row !important;
        align-items: flex-start !important;
        text-align: left !important;
    }
}
